<!doctype html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mòbils</title>
</head>
<body>

<script id="mobils_template" type="text/x-handlebars-template">
    <h1>Mòbils</h1>


    <a href="#">Afegir</a>
    <table>
        <thead>
        <tr>
            <th>IMEI</th>
            <th>Model</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{for mobils}}
        <tr>
            <td><a data-id="{{:imei}}" class="details" href="#">{{:imei}}</a></td>
            <td>{{:model}}</td>
            <td>
                <a data-id={{:imei}} href="#">Eliminar</a>
                <a data-id={{:imei}} href="#">Modificar</a>
            </td>
        </tr>
        {{/for}}
        </tbody>
    </table>
</script>

<script id="mobil_template" type="text/x-handlebars-template">
    <h1>{{:mobils.imei}}</h1>

    <ul>
        <li>Model: {{:mobils.model}}</li>
    </ul>
</script>

<script id="add_mobil_template" type="text/x-handlebars-template">
    <h1>Afegir mòbil</h1>

    <form action="">
        <label for="imei">IMEI</label>
        <input type="text" name="imei" id="imei">
        <br>
        <label for="model">Model</label>
        <input type="text" name="model" id="model">
        <button type="submit" class="add-from-submit">Guardar</button>
    </form>

</script>


<script id="modify_mobil_template" type="text/x-handlebars-template">
    <h1>Mofidicar {{:imei}}</h1>

    <form action="">
        <label for="imei">IMEI</label>
        <input type="text" name="imei" id="imei"
               value="{{:imei}}">
        <br>
        <label for="model">Model</label>
        <input type="text" name="model" id="model"
               value="{{:model}}">
        <button data-id ="{{:imei}}" type="submit" class="modify-from-submit">Guardar</button>
    </form>

</script>


<a class="mobils" href="#">Llista de mòbils</a>


<div id="app">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>
<script>


    function showPhone(event){
        event.preventDefault();

        var imei = $(this).data("imei");

        $.getJSON("api/mobils/" + imei, function (data) {
            var html = $("#mobil_template").render(data);

            $("#app").html(html);
        });
    }

    function deletePhone(event){
        event.preventDefault();

        var imei = $(this).data("imei");

        $.ajax({
            url:'api/mobils/' + imei,
            type: 'DELETE'
        }).then(function (result){
            showPhones();
        });
    }

    function modifyPhone(event){
        event.preventDefault();

        var imei = $(this).data("imei");

        $.getJSON("api/mobils/" + imei, function (data) {

            var html = $("#modify_mobil_template").render(data);

            $("#app").html(html);

            $(".modify-from-submit").on("click", modifyFormSubmit);

        });
    }

    function modifyFormSubmit(event){
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject()
        var button = $("form > button");

        var imei = button.data("imei");

        $.post("api/characters/" + imei, data, function(result){
            showPhones();
        })
    }

    function addFormSubmit(event){
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject()

        $.post("api/characters/", data, function(result){
            showPhones();
        })
    }

    function addPhone(event){
        event.preventDefault();

        var html = $("#add_mobil_template").render();

        $("#app").html(html);

        $(".add-from-submit").on("click", addFormSubmit);
    }



    function showPhones() {
        $.getJSON("api/mobils/", function (data) {
            var html = $("#mobils_template").render(data);

            $("#app").html(html);

            $(".details").on("click", showPhone);
            $(".delete").on("click", deletePhone);
            $(".modify").on("click", modifyPhone);
            $(".add").on("click", addPhone);

        });
    }

    $(document).ready(function(){
        showPhones();

        $(".mobils").on("click", function(event){
            event.preventDefault();

            showPhones();
        })
    });
</script>
</body>
</html>