<!doctype html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="mobils.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />

    <title>Mòbils</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#!/">Mòbils</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/register">Registre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="degrad">
    <br><br><br><br><br>
</div>

<div class="pageContent">
    <script id="mobils_template" type="text/x-handlebars-template">

        <a href="#!/mobils/add" class="btn btn-secondary add">Afegir</a>
        <table>
            <thead>
            <tr>
                <th>IMEI</th>
                <th>Model</th>
                <th>Polsades</th>
                <th>Accions</th>
            </tr>
            </thead>
            <tbody>
            {{for mobils}}
            <tr>
                <td><a href="#!/mobils/{{:_id}}" class="btn btn-outline-dark">{{:imei}}</a></td>
                <td>{{:model}}</td>
                <td>{{:polsades}}</td>
                <td class="action-button">
                    <div><a href="#!/mobils/{{:_id}}/delete" class="btn btn-danger delete">Eliminar</a>
                    <a href="#!/mobils/{{:_id}}/modify" class="btn btn-warning modify">Modificar</a></div>
                </td>
            </tr>
            {{/for}}
            </tbody>
        </table>
    </script>

    <script id="mobil_template" type="text/x-handlebars-template">
        <h1>{{:imei}}</h1>
        <div class="details-mobils">
            <h5>Model: {{:model}}</h5>
            <br>
            <h5>Polsades: {{:polsades}}</h5>
        </div>
    </script>

    <script id="add_mobil_template" type="text/x-handlebars-template">
        <h1>Afegir mòbil</h1>

        <form action="">
            <div class="alin">
                <label for="imei">IMEI</label>
                <input type="text" name="imei" id="imei">
                <label for="model">Model</label>
                <input type="text" name="model" id="model">
                <label for="polsades">Polsades</label>
                <input type="text" name="polsades" id="polsades">
                <button type="submit" class="add-form-submit" class="btn btn-outline-success add-form-submit">Guardar nou mòbil</button>
            </div>
        </form>

    </script>


    <script id="modify_mobil_template" type="text/x-handlebars-template">
        <h1>Mofidicar {{:imei}}</h1>

        <form action="">
            <div class="alin">
                <label for="imei">IMEI</label>
                <input type="text" name="imei" id="imei"
                       value="{{:imei}}">
                <label for="model">Model</label>
                <input type="text" name="model" id="model"
                       value="{{:model}}">
                <label for="polsades">Polsades</label>
                <input type="text" name="polsades" id="polsades"
                       value="{{:polsades}}"><br>
                <button data-id="{{:_id}}"  type="submit" class="btn btn-outline-success modify-form-submit">Guardar</button>
            </div>
        </form>

    </script>


    <script id="register_template" type="text/x-handlebars-template">
        <h1>Registre</h1>

        <form action="">
            <div class="alin">
                <label for="imei">Nom d'usuari</label>
                <input type="text" name="username" id="username">
                <br>

                <label for="model">Contrasenya</label>
                <input type="text" name="password" id="password">
                <br>

                <button type="submit" class="add-form-submit" class="btn btn-outline-success register-form-submit">Registrar-se</button>
            </div>
        </form>

    </script>


    <script id="login_template" type="text/x-handlebars-template">
        <div class="container">
            <h1>Inici de sessió</h1>

            <form action="">
                <label for="imei">Nom d'usuari</label>
                <input type="text" name="username" id="username">
                <br>

                <label for="model">Contrasenya</label>
                <input type="password" name="password" id="password">
                <br>

                <button type="submit" class="btn btn-outline-success login-form-submit">Iniciar sessió</button>
            </form>
        </div>
    </script>


    <div id="app">

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
    <script src="//unpkg.com/navigo@6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script>

        var root = null;
        var useHash = true;
        var hash = '#!';
        var router = new Navigo(root, useHash, hash);

        router
            .on('/', showPhones)
            .on('/register', register)
            .on('/login', login)
            .on('/mobils/add', addPhone)
            .on('/mobils/:imei', showPhone)
            .on('/mobils/:imei/delete', deletePhone)
            .on('/mobils/:imei/modify', modifyPhone)
            .resolve();

        var storage = window.localStorage;
        var token = storage.getItem("token");

        console.log(token);

        function showPhone(params){
            console.log(params);

            $.getJSON("api/mobils/" + params.imei, function (data) {
                var html = $("#mobil_template").render(data);

                $("#app").html(html);
            });
        }

        function registerFormSubmit(event){
            event.preventDefault();

            var form = $("form");

            var data = form.serializeObject()
            console.log(data);

            $.post("api/auth/register/", data, function(result){
                console.log(result);
                if(result.success){
                    var type = "success";
                } else {
                    var type = "error"
                }
                new Noty({
                    text: result.msg,
                    type: type,
                    layout: 'topCenter',
                    timeout: 3000
                }).show();

                router.navigate("/");
            }).catch(function (error) {
                console.log(error);
            });
        }

        function register() {
            var html = $("#register_template").render();

            $("#app").html(html);

            $(".add-form-submit").on("click", registerFormSubmit);
        }


        function loginFormSubmit(event) {
            event.preventDefault();

            var form = $("form");

            var data = form.serializeObject()
            console.log(data);

            $.post("api/auth/login/", data, function (result) {
                var type = "success";
                var text = "Sessió iniciada"
                new Noty({
                    text: text,
                    type: type,
                    layout: 'topCenter',
                    timeout: 3000
                }).show();
                console.log(result);

                storage.setItem("token", result.token);

                router.navigate('/');
            }).catch(function (error) {
                var type = "error";
                var text = "Error iniciant sessió"
                new Noty({
                    text: text,
                    type: type,
                    layout: 'topCenter',
                    timeout: 3000
                }).show();
                console.log(error);
            })
        }

        function login() {
            var html = $("#login_template").render();

            $("#app").html(html);

            $(".login-form-submit").on("click", loginFormSubmit);
        }


        function deletePhone(params){
            $.ajax({
                url:'api/mobils/' + params.imei,
                type: 'DELETE',
                headers: {
                    'Authorization': token,
                }
            }).then(function (result){
                router.navigate("/");
            });
        }

        function modifyPhone(params){
            $.getJSON("api/mobils/" + params.imei, function (data) {
                var html = $("#modify_mobil_template").render(data);

                $("#app").html(html);

                $(".modify-form-submit").on("click", modifyFormSubmit);

            });
        }

        function modifyFormSubmit(event){
            event.preventDefault();

            var form = $("form");

            var data = form.serializeObject()
            var button = $("form button");

            var imei = button.data("id");

            $.post("api/mobils/" + imei, data, function(result){
                router.navigate("/");
            })
        }

        function addFormSubmit(event){
            event.preventDefault();

            var form = $("form");

            var data = form.serializeObject()

            console.log(data);

            $.post("api/mobils/", data, function(result){
                console.log(result);
                router.navigate("/");
            })
        }

        function addPhone(){
            var html = $("#add_mobil_template").render();

            $("#app").html(html);

            $(".add-form-submit").on("click", addFormSubmit);
        }



        function showPhones() {
            $.getJSON("api/mobils/", function (data) {
                var html = $("#mobils_template").render(data);

                $("#app").html(html);
            });
        }

    </script>
</div>
</body>
</html>