*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    background-color: #d3d3d3;
}
h1 {
    font-family: sans-serif;
}

table, h1 {
    border-color: #00B7FF;
}

h5 {
    color: darkred;
}

.details-mobils {
    color: black;
}


.action-button {
    border-color: red;
}

.h1Princ {

    #font-size: 100px;
    #margin: 20px;
    #padding: 50px;
    #width: 118px;
    #border: solid green;
    #border-left: 5px solid;
    #border-right: transparent;
}

.bottom-margin {
    margin-bottom: 10%;
}

.header {
    #display: flex;
    #justify-content: center;
    #margin-top: 8em;
}

.accessData:hover {
    background-color: #7c5d1f;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}

.accessData:active {
    color: #e5e5e5;
}
.accessData{
    color: #303030;
    font-size: 30px;
    text-decoration: none;
    position: fixed;
}

.mainPageTitle{
    font-size: 100px;
    color: #426d3e;
}

.pageTitle{
font-size: 60px;
color: #426d3e;
}


.pageContent {
    margin-top: 3px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
}

.shortPar{
    font-size: larger;
}

.button {
    background-color: #486346;
    margin-top: 500px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 4px;

}

.androidTable{
    width: 100%;
}

tr.androidTr{
    width: 40%;
}


.alin {
    width: 20%;
}


/*ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: #303030;
}*/

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: #0b2d08;
}*/

ul, ol {
    list-style: none;
}

.nav li ul {
    display: none;
    position: absolute;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}


li {
    float: right;
}

li a, .headerFakeLink {
    margin-top: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.degrad {
    background: linear-gradient(#0b2d08, #d3d3d3);

}

/*li a:hover, .headerFakeLink:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}*/

.specialText {
    font-size: 90px;
    color: #ff131a;
}



label {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.notImportant {
    font-style: italic;
    color: dimgray;
    font-size: 10px;
}

table.contactForm {
    border-style: groove;
    border-color: chartreuse;
}

.redStar {
    color: red;
}

img {
    margin: 8px;
}

.navbar {
    background: blue;
}

input, textarea {
    border-radius: 10px;
    border-color: #426d3e;
}

/*th.contactForm,tr.contactForm {
    border-bottom-color: black;
    border-top-color: black;
    border-right-color:transparent;
    border-bottom-color: transparent;
}*/